<!DOCTYPE html>
<html>
  <head>
    <title>babysfirst</title>
  </head>
  <body>
    <h1>babysfirst</h1>
    <form action='/login' method='post'>
      <h2>login</h2>
      <p id='username'>
        <label>
          Username:
          <input name='username' type='text'>
        </label>
      </p>
      <p id='password'>
        <label>
          Password:
          <input name='password' type='password'>
        </label>
      </p>
      <p id='submit'>
        <button type='submit'>Log In</button>
      </p>
    </form>
  </body>
</html>
